<div class="container">

  <h1>Clasificador Inteligente de Residuos</h1>
  <p class="subtitle">
    Sube una imagen o selecciona un tipo de residuo para aprender cómo reciclarlo
  </p>

  <!-- SUBIDA DE IMAGEN -->

  <div class="upload-box">

    <input type="file" (change)="seleccionarImagen($event)" accept="image/png, image/jpeg">

    <button (click)="enviarImagen()">
      Analizar imagen
    </button>

  </div>


  <!-- PREVIEW -->

  <div class="preview" *ngIf="previewUrl">

    <h3>Imagen seleccionada</h3>

    <img [src]="previewUrl">

  </div>


  <!-- TARJETAS -->

  <div class="cards">

    <div class="card">
      <h3>🌱 Orgánico</h3>
      <p>Residuos biodegradables como restos de comida o cáscaras.</p>
      <button (click)="buscar('organico')">
        Obtener residuo
      </button>
    </div>

    <div class="card">
      <h3>♻️ Reciclable</h3>
      <p>Materiales reutilizables como plástico, papel o vidrio.</p>
      <button (click)="buscar('reciclable')">
        Obtener residuo
      </button>
    </div>

    <div class="card">
      <h3>🚯 No reciclable</h3>
      <p>Residuos que no pueden ser reutilizados.</p>
      <button (click)="buscar('no reciclable')">
        Obtener residuo
      </button>
    </div>

  </div>


  <!-- RESULTADO IA -->

  <div class="result" *ngIf="resultadoIA">

    <h2>Resultado de la IA</h2>

    <p>
      Tipo detectado: <strong>{{ resultadoIA }}</strong>
    </p>

  </div>


  <div *ngIf="resultado" class="result">

    <h3>Información del residuo</h3>

    <p>
      <strong>Tipo:</strong> {{ tipoSeleccionado }}
    </p>

    <p>
      <strong>Descripción:</strong> {{ resultado.residuoDescription }}
    </p>

  </div>
</div>